#container, .header-container {
	width: 75%;
	margin: 0 auto;

}


.clearfix:after {
	clear:both;
	content:"";
	display:block;
	line-height:0;
	height:1%;
	visibility:hidden;
}
#header {
	width:100%;
}

.logo {
	float: left;
	width:354px;
	height:80px;
	display: inline-block;
	padding-top:30px;
	padding-bottom:5px;
	/*margin-top:-10px;*/
}


#menucontainer{

float:left;
width:100%;

}

/*------------ CONTENTS ------------*/
#contents {
	width:100%;
	min-height: 550px;
}

#contents img {
	border: 1px solid #D9D1D9;
	/*float:left;*/
}
h1 {
	color: #57614e;
	font: 20px/30px Arial, Helvetica, sans-serif;
	margin: 0 0 12px;
	text-transform: uppercase;
}
h2 {
	color: #9F677B;
	font: 19px/24px Arial, Helvetica, sans-serif;
	/*letter-spacing: 2px;*/
	margin: 0;
	text-transform: uppercase;
}
h3 {
	color: #5A6351;
	font: 16px/20px Arial, Helvetica, sans-serif;
	margin: 0 0 12px;
	text-transform: uppercase;
}

table.table
{
	margin-top:10px;
}



.sidebar
 {
	background-image: url(../images/border.png);
	background-position: right top;
	background-repeat: repeat-y;
 }


#contents p{font: 12px/30px Arial, Helvetica, sans-serif;}
.am {cursor:pointer;}
.activesidemenu>a{color:#FFC400 !important;}
.activesidemenu {background-color:#835C6A !important;border-color:#613A49 !important;}
.row_0 {
	background-color:#F0F0F0;
}

.row_1{
	background-color:#FEFDFD;
}

#result_div {display: none;}
#result_title{color:#8D7528;text-align: center;}
a.pagination { font-weight: bold; color:#123456;display: inline-block; border:1px solid #8577A5;padding:3px 5px;background-color: #D7D198;}
a.pagination:hover, .table a.active {text-decoration: underline;color:#123456;background-color: #DDA200;}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    float:none;
    min-width:55%;
}

.sidenav a:hover {
    color: #f1f1f1;
}

#menu_close {
    position: fixed;
	margin-top: 0px;
	margin-left: 12.5%;
	font-size: 39px;
	background-color: #111;
	padding: 0px 16px;
	min-width: 35px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	text-decoration: none;
	color:#AAA;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  /*.sidenav a {font-size: 18px;}*/
}

.header a.link {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

table th, table td {
    width: auto !important;
}

#last_updated {
	float:right;
	display:block;
	margin-top:10px;
}
#nav {float:right;margin-top:33px;}
#nav li {display: block;}
#nav li a {color:#AAA;}
#nav li a:hover {color:#FFF;}

table th {text-align:center;}
.w125 {width:12.5%;}
#change-image {color:#C65B19;padding-left:10px;}
#change-image:hover {color:#972C00; text-decoration: underline;}
p.toprow {margin:0;border-bottom:2px solid #FFF;}
p.toprow label.left {width:20%;padding:5px;margin:0;}
p.toprow label.right {width:80%;padding:5px;margin:0;}

@media screen and (max-width: 760px) {
  #container {width:100%;}
  #last_updated {font-size:75%;margin-top:17px;}
  #collapsibleNavbar li {border-top:1px dotted #666;width:100%;}
  .header-container {width:100%;}
  .navbar-brand {width:75%;}
  table th, table td{padding-left:0 !important;padding-right:0 !important;}
  #nav {margin:0;font-size:70%;width:100%;border-top:1px dotted #777;}
  #weblink {float:left;border-right:1px dotted #555;}
  #reglink {float:right;}
  .w125 {width:200px;}
  #menu_close {margin-left:200px;}
  #change-image {clear:both;display: block;text-align: left;padding-left: 0;}
  p.toprow label.left, p.toprow label.right {width:50%;}
  #links_table_wrapper .col-sm-12 {padding: 0 5px;}
}

.footer {text-align:center;padding:20px;color:#EFE;}
a, button {outline: none !important;}
table tr:hover{background-color:#D9E5C6;}
table a:hover {text-decoration: underline !important;}
#az {min-height:605px;}
table#result_marks{
	display: table !important;
}
#result_marks th, #result_marks td {text-align: center;font-weight:bold;}
#result_marks label{text-align: left !important;padding:5px;}
.result_top, .toprow {background-color:#D9E7E7;width:100%;}

#result_marks td .P {font-weight: bold !important; color:green;}
#result_marks td .F {font-weight: bold !important; color:red;}
@media screen and (min-width: 860px) {
	#alert .modal-dialog {
  		max-width:65% !important;
	}
}

@media screen and (max-width: 859px) {
	#alert .modal-dialog {
  		max-width:100% !important;
	}
	#result_marks th, #result_marks td {font-size:100%;padding:0 2px !important;font-size:80%;}
	#result_marks th.longs, #result_marks td.longs {display: none;} 
	#alert_body {padding-left:0.2rem;padding-right:0.2rem;}
}

input#regno {text-transform: uppercase;}

#dup_bg {
	width:100%;
	opacity: 0.3;
	position:absolute;
	top:180px;
	left:35px;
}

#dup_header {
	height:190px;
	width:760px;
	text-align: center;
	border-bottom:1px solid #999;
}

#dup_content {
	margin-top:15px;
}

table th.lefts, table td.lefts{
	text-align: left !important;
}

#links_table a {color:#212529 !important;}
#links_table tr td {border-right:1px solid #EDE;}
#links_table tr td {text-align: center;}
#links_table tr td:first-child {text-align: left !important;padding-left: 5px !important;}

.modal-backdrop {
    opacity:0.3 !important;
}

#loading {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index:9999;
}
.modal {overflow: auto;}

.paginate_button a {
	color:  #123;
	font-weight: bold;
}
.paginate_button a.page-link {
	border:1px solid #8577A5 !important;
	
	background-color: #D7D198 !important;
}

.pagination li.active a {
	background-color: #B28213 !important;
	text-decoration: underline;
	font-style: italic;
	color:  #123 !important;
}

.dataTables_info {
	color: #764600 !important;
	border-top: 1px solid #B28213;
}

.dataTables_filter input{
	background-color: #D7D198;
	border-color: #7B753C;
}

.table td, .table th {
	padding: .75rem .25rem !important;
}

